//main:app.scss
a:link {
  color: white;
}

/* visited link */
a.a_nav:visited {
  color: white;
}

/* mouse over link */
a.a_nav:hover {
  color: hotpink;
}

/* selected link */
a.a_nav:active {
  color: white;
}
