//main:app.scss
header{
  background-color: red;
  height: 60px;
  display: flex;
  z-index: 9999;
  position: fixed;
  width: 100%;
}
.nom_header{
  width: 30%;
  height: 60px;
  // background-color: blue;
}
.menu{
  width: 70%;
  height: 100px;
  // background-color: pink;
  margin-left: auto;
}
