//main:app.scss
@media screen and (max-width: 320px)
{
    header{
      flex-direction: column;
      height: 128px;
    }
    .nom_header{

    }

    .menu{
      margin-left: 24px;
      width: 100%;
      font-size: 7px;
    }
    #nom_nav{
      display: flex;
    }

  #premiere{
      display: none;
    }

  .titre_a_propos_de_moi{
    margin-top: 100px;
  }
}
