//main:app.scss
@media screen and (max-width: 320px)
{
    .header{
      height:10px;
      flex-direction: column;
    }
    #nom_nav{
      font-size: 10px;
    }
    a.a-nav{
      font-size: 10px;
    }
    table#table{
          font-size: 15px;
    }
    .titre_parcours {
          font-size: 26px;
    }
    .titre_competences{
      font-size: 19px;
    }
    .titres_services{
      font-size: 30px;
    }
    .titre_contact{
      font-size: 30px;
    }
}
