//main:app.scss
@media screen and (max-width: 320px)
{
    .header{
      height:10px;
      flex-direction: column;
    }
    #nom_nav{
      font-size: 10px;
    }
    a.a-nav{
      font-size: 10px;
    }

}
