//main:app.scss
@mixin titre_chapitre {
  margin-top: 5%;
  width: 70%;
  height: 77px;
  background: $background_titre_contenu;
  color:$color_texte_premiere;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
}
@mixin page {
  width: 100%;
  height: 800px;
  margin-top: -67px;
  background-color: white;
  padding-top: 2%;
}
@mixin nom{
  height: 101px;
  width: 28%;
  color: white;
  text-align: center;
  font-size: 52px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background_titre_contenu;
}

@mixin contenu {
  background-color: $background_titre_contenu;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@mixin article {
    width: 31%;
    background-color: $background_titre_contenu;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 76px;
    margin-bottom: 56px;
}
