//main:app.scss
.parcours{
  width: 100%;
  height: 800px;
  background-color: red;
  margin-left: auto;
}
.titre_parcours{
@include titre_chapitre ;
background-color: blue;
}
.tableau_parcours{
  height: 332px;
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  margin-top: 12px;
}
