//main:app.scss
.parcours{
@include page;
background-color: red;
}
.titre_parcours{
@include titre_chapitre ;
background-color: blue;
}
.tableau_parcours{
  height: 332px;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  margin-top: 12px;
}
