//main:app.scss
#seconde{
@include page;
margin-top: -16px;
}
.titre_a_propos_de_moi{
  @include titre_chapitre;
  font-size: 32px;
  color: $color_texte_premiere;
}

article{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.titre_article{
  margin-top:10px;
  margin-bottom:10px;
}
.article_1{
  @include article ;
}
.article_2{
  @include article ;
}
.article_3{
  @include article ;
}
.nom_flex{
  margin-top: 154px;
  display: flex;
}
