//main:app.scss
#seconde{
@include page;
margin-top: -16px;
}
.titre_a_propos_de_moi{
  @include titre_chapitre;
}

article{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.article_1{
  @include article ;
}
.article_2{
  @include article ;
}
.portrait{
  @include article ;
}
.nom_flex{
  margin-top: 154px;
  display: flex;
}
