//main:app.scss
.seconde{
@include page ;
}
.titre_a_propos_de_moi{
  @include titre_chapitre ;
}

article{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.article_1{
  width: 20%;
  height: 112px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 56px;
}
.article_2{
  width: 20%;
  height: 112px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 56px;
}
.portrait{
  width: 20%;
  height: 112px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 56px;
}
.nom_flex{
  margin-top: 154px;
  display: flex;
}
